/* src/App.css */
body {
  background-color: #171717;
  font-family: 'Titillium Web', sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;

}


.app {
  padding: 10px;
  padding-top: 0px;
}


input[type="text"] {
  width: 100%;
  padding: 10px;
  /* margin-bottom: 20px; */
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  height: 30px;
}
.header{
  position: sticky;
  top: 0;
  background-color: #171717;
}

.notSearch {
  position: sticky;
  top: 0;
  background-color: #171717;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.back-button {
  width: 16px;
  cursor: pointer;
  margin-left: -5px;
}

.header-title {
  flex-grow: 1;
  text-align: left;
  font-size: 16px;
  margin-left: 16px;
}

.search-icon {
  width: 16px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #171717;
  padding: 10px;
  position: sticky;
  z-index: 100;
}
.backSearch{
  margin-top: 15px;
  position: sticky;
  z-index: 100;
  background-color: #171717;
}
.search-bar input {
  flex-grow: 1;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.search-bar  {
  width: 24px;
  /* margin-left: 10px; */
  cursor: pointer;
  width: 100%;
  z-index: 100;
}

.loading {
  height: 40px;
}
.search-back{
  display: flex;
  flex-direction: row;
}
.navbar{
  width: 100%;
}
.navbar-shadow {
  margin-top: 10px;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: transparent;
  object-fit: cover; /* Maintain the aspect ratio of the shadow */
}
